.login{
        background-image: linear-gradient(rgba(39, 40, 65, 0.6), rgba(39, 40, 65, 0.6)), url("https://i.ibb.co/MV8VHYx/login-banner.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}